@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat'
}

html  {
    scroll-behavior:smooth;
}



body{
    margin: 0 auto;
}

header{
    display: flex; /* pour alligner tout les composant du header*/
    align-items: center; /* pour centrer les items entre eux*/
    /*background-color: rgba(28, 148, 28, 0.473);*/
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bouton-reservations{
    margin-right: 20px;
}

header img{
    width:100px;
}

section.top-page {
    /* background-color: rgb(59, 59, 59); */
    background: url("../images/fond3.2.png") ; 
    /*background-size: cover; /*pour que le background couvre
                            toute la page si on l'etire*/
    background-size: 100% ;
    height: 112vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px; /*marge interieur*/
}


.landing-page{
    position: relative;
    padding: 50px 50px; /*marge interieur*/
}

.gros-titre{
    color: white;
    font-size: 80px; /*taille police*/
    /* font-family: 'Abril Fatface'; *//*police */
    font-weight: 500;   
}

.sous-titre{
    color: rgb(236, 236, 236);
    position: absolute;
    bottom: 70px; 
    font-weight: 600;
}


.scroll{
    color: white;
    text-decoration: none;


}

/* menu de navigation */

nav {
    
    display: flex;
    justify-content: space-between; 
    /*met de l'espace entre les items*/
    list-style: none; /*retire les points devant les items*/
    width:380px;
    margin-left: 30px; /*marge exterieur gauche*/
}

.boutton-haut{
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-weight: 500;
}

hr{  
    
    position: absolute; /* postulat de départ */
    right: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%); /* décalage de 50% de sa propre taille */
    width: 90%;
    background-color: rgb(77, 76, 76);
    border:none;
    height: 2px;
    margin: 0
}

hr.hr2{  
    
    position: absolute; /* postulat de départ */
    right: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%); /* décalage de 50% de sa propre taille */
    width: 90%;
    background-color: rgb(58, 83, 121);
    border:none;
    height: 2px;
    margin: 0
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------- index.php--------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.trait{
    width: 200px;
    height: 2px;
    background-color:rgb(202, 201, 201);
    
}
/*infos du site*/
.infos-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding-bottom: 20px;  
    height: 140px;
    margin-bottom: 10px;
}

.infos-titre{
    font-size: 35px;
    color: rgb(202, 201, 201);
    margin:0;
    font-weight: 600;
    
}

.infos-text{
    color: rgb(202, 201, 201);
    font-size: 17px;
    margin:0;
    text-align: center;
    width: 90%;
    

    
 
}


/* services */

.services{
    position: relative;
    padding: 50px 0;
    background-color: rgb(59, 59, 59); 
}

.icon-div{
    padding: 60px 30px ;
    display :flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.service-item{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.icon2{
    font-size: 50px; 
    color:rgb(202, 201, 201);
}

p{
    color :rgb(202, 201, 201);
}

.text-icon{
    font-weight: 600;
    width: 200px;
    text-align: center;
}




/* meilleurs agents*/ 
.meilleurs-agents{
    background-color: rgb(59, 59, 59);
    background-size: cover; /*pour que le background couvre
                            toute la page si on l'etire*/

    padding: 1px 20px; /*marge interieur*/
    
    /* background-image: url("../images/fond1.jpg"); */
}

.div-best-agents{
    margin : 50px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
}

.agent-box{
    position: relative;
    margin: 20px 20px;
    margin-bottom: 50px;
}

.agent-nom{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;  
    line-height: 0px;   
    padding-top: 5px;
}

.note-box{
    display: flex;
    align-items: center;
    justify-content:space-between; 
    padding-left: 20px;
    padding-right: 5px;
}

.agent-note{
    color:black;
}

.nombre-note{
    color:black;
    font-size: 15px;
}

.agent-detail{
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.61);
    bottom: 0;
    
}

img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align:top;
}
    
.agent-detail2 {
    position: absolute;
    width: 100%;
    background-color: rgba(202, 201, 201, 0.87);
    z-index: 1;   
    overflow:hidden;
    height:0;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:auto;
    }
    
.agent-box:hover .agent-detail2 {
    height: 22%;
    }



.detail2{
    padding: 0px 20px;
    color:black;
}

.titre-detail{
    font-weight: 500;
}

.prix-detail{
    font-weight: 600;
}

.index-caracteristique{
    text-align: center;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}




/*bas de page*/

.icon3{
    font-size: 35px; 
    
}
.image-bdp {
    width:100px;
}

.payment-method{
    width: 150px;
    color: black;
}

.bas-de-page{
    background-color: rgb(59, 59, 59); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.bas-de-page2{
    background-color: rgb(58, 68, 100); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.bas-de-page p{
    color: black;
}

.bas-de-page2 p{
    color: black;
}

/*pieds de page*/



footer{
    background-color: rgb(59, 59, 59); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px 200px;
    font-size: small;
}

.footer2{
    background-color: rgb(58, 68, 100); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px 200px;
    font-size: small;
}

footer p.copyright{
    color:black;
}

footer p.credits{
    color:black;
}

footer a.cgv{
    text-decoration: none;
    color: black;
}




.top-agents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

}

.titre {
    margin-left:30px;
    font-size: 50px;
    font-weight: 100;
    position: relative;
    color:rgb(255, 255, 255); 
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    line-height: 70px;
}

.titre::before{
    content:"";
    position: absolute;
    background-color: rgb(202, 201, 201);
    width: 50px;
    height:7px;
    bottom: 0;  
}

.titre2{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

.tri-choix{
    display: flex;
    margin-left: 20px;

}

.titre3{
    padding-top: 5px;
    margin: 0;
    font-size: 17px;
    padding-left: 10px;
}
.tri-prix{
    margin: 0;
    display: flex;
    flex-direction: column;  
}
.tri-sexe{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.bouton-tri{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(202, 201, 201);
    padding: 6px;
    margin: 5px;
    border-radius: 4px;
    font-size: 15px;
}

.tri{
    margin-right: 5%;
    margin-left: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------- form.php--------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.formulaire{
    background-color: rgb(58, 68, 100); 
    padding: 30px 60px;
  
}

.formulaire-submit{
    background-color: rgb(58, 68, 100); 
    padding: 20px 80px;
    display: flex; 
}


.titre-form{
    margin: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 55px ;
    color:rgb(255, 255, 255);
    padding-left: 10px;
}

h2{
    color:  rgb(255, 255, 255);
    font-weight: 400;
}


input[type=number]{
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



.submit{ 
    background-color: rgb(90, 150, 90);
    margin-bottom: 30px;
    font-weight: 600;
}

.submit:hover{ 
    background-color: rgb(72, 124, 72);
   
}

.reset{
    margin: 0px 20px;
    background-color: rgb(92, 92, 92);
    font-weight: 600;
}

.reset:hover{ 
    background-color: rgb(66, 66, 66);   
}


.formulaire-box{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.form-infos{
    width: 400px;
}

.form-photo{
    line-height: 20px;
}

.form-infos2{
    width: 600px;
}

label{
    color: white;
}

.global-form {
    border-radius: 5px;
    background-color: #a1a1a1;
    padding: 10px;
    margin: 15 20px;
  }

.infos-inscription{
    margin:0;
    margin-left: 20px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- infos_supplementaires.php------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

section.top-page2 {
    background-color: rgb(59, 59, 59);
    /* background: url("../images/fond3.2.png") ;  */
    /*background-size: cover; /*pour que le background couvre
                            toute la page si on l'etire*/
    background-size: 100% ;
    background-size: cover;
    padding: 20px; /*marge interieur*/
}


.sup-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top:30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    
}

.sup-img{
    border-radius: 5px;
    margin-top: 30px;
}

.sup-right-box{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #a1a1a1;
    height: 600px;
    width: 750px;
    border-radius: 5px;
    margin-left: 20px;
    color: white;
}

.sup-nom{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 15px;
    /* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
    text-shadow: 1px 1px 2px rgb(243, 243, 243), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(253, 253, 253);
}


.sous-le-nom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.note-box2{
    margin-top: 5px; 
    margin-left: 20px;
    line-height: 28px;
    padding-top: 35px;

}

.sup-note{
    color:black;
}

.agent-note2{
    color:rgb(240, 224, 0);
    margin: 20px;
}

.nombre-note2{
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
}

.sup-detail2{
    margin: 10px;
    padding: 0px 20px;
    color:black;
    text-align: end;
    width: 45%;
    text-align: start;
}


.sup-prix-detail{
    font-weight: 600;
    font-size: 40px;
}

.erreur{
    color: rgb(136, 0, 0);
}

.sup-bas-box{
    position: relative;
    
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sup-resa-titre{
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.sup-resa-box{
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 280px;
    text-align: center;
    justify-content: space-between;
}

.sup-resa-left{
    color: rgb(0, 0, 0);
    width:50%;
    padding-left: 20px;

}

.sup-resa-left-bottom{
    margin-top: 5px;
}

.sup-titre-detail2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.sup-titre-detail3{
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: 500;
 
}

.sup-texte-detail{
    padding: 5px 20px;
}

.sup-resa-right{
    width:50%
}


.sup-hr{  
    position: relative; /* postulat de départ */

    margin-top: 25px;
    width: 99%;
    background-color: rgb(77, 76, 76);
    border:none;
    height: 1px;
    
}

/*Pop-up reservation*/

.btnPopup{
    background-color: rgb(57, 59, 63);
    padding: 1em 2em;
    cursor: pointer;
    width: 150px;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    padding:0;
    margin-top: 5px;
    margin-left:20px;
    }

.btnPopup:hover{
    background-color: rgb(114, 114, 114);
}



.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    }

.popup{
    margin: 10% auto;
    width : 18%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    }

.btnClose {
    float: right;
    font-size:32px;
    cursor: pointer;
    color: rgb(26, 26, 26);
    }


.titre-liste-resa{
    color:rgb(0, 0, 0);
}

.valider-note{
    background-color: rgb(26, 26, 26);
    width: 100px;
}

.consulter-date{
    margin-top: 20px;
}


table{
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
  }

th {
    background-color: #4CAF50;
    color: white;
  }


tr:hover {
    background-color: #e4e4e4;
}

tr{
    background-color: rgb(243, 243, 243);
}

.resa-faite{
    color:rgb(0, 110, 0);
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------- compte.php----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.compte{
    padding: 60px;
    }


.titre-acceuil{
    color: white;
    font-size: 28px; /*taille police*/
    /* font-family: 'Abril Fatface'; *//*police */
    font-weight: 500; 
}

.nom-prenom{
    color: white;
    font-size: 70px; /*taille police*/
    /* font-family: 'Abril Fatface'; *//*police */
    font-weight: 500; 
}

.bouton-deconnexion{
    color: rgb(233, 0, 0);
}

.client-non-connecte{
    font-size: 70px ;
    color :rgb(255, 255, 255);

}

.resa-compte{
    margin-top: 30px;
}


.titre-resa-compte{
    color :rgb(255, 255, 255);
    font-size: 28px;
}

.table-resa-client{
    margin: 10px;
}

.aucune-resa{
    color : white;
}



